%html
  %head
    %script{src: '//js.pusher.com/1.12/pusher.min.js'}
    %script{src: '/js/jquery.js'}
    %script{src: '/js/jquery-ui.js'}
    %link{href: '//fonts.googleapis.com/css?family=Stalinist+One', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/css/bootstrap.css', rel: 'stylesheet', type: 'text/css'}
    %link{href: '/css/style.css', rel: 'stylesheet', type: 'text/css'}

  %body
    .row-fluid.game-off{style: "display: block; margin-top: 100px"}
      %a(href="/flash/all") Flash All
      %a(href="/green") Green
      %a(href="/red") Red
      %a(href="/yellow") Yellow




